<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

    </style>
    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script type="text/javascript">
        window.onload = function() {

        }
    </script>
</head>

<body>
  <h2>是否登录</h2>
  <% if(isLogin) { %>
    <span>登录成功,欢迎回家</h2>
  <% } else { %>
    <button>注册</button>
    <button>登录</button>
  <% } %>
</body>

</html>