<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      p {
        font-size: 25px;;
        font-weight: 500;
      }
    </style>
</head>

<body>
  <div id="app">
    <p v-if="gender === 1">性别: ♂ 男</p>
    <p v-else>性别: ♀ 女</p>
    <hr>
    <p v-if="score >= 90">成绩评定A: 奖励电脑一台</p>
    <p v-else-if="score >= 70">成绩评定B: 奖励周末郊游</p>
    <p v-else-if="score >= 60">成绩评定C: 奖励零食礼包</p>
    <p v-else>成绩评定D: 惩罚一周不看美女</p>
  </div>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        gender: 0,
        score: 50,
      }
    })
  </script>
</body>

</html>