<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

    </style>
</head>

<body>
  <h2><%= title %></h2>
  <!-- 文件上传的必须属性 -->
  <form action="/portrait" method="post" enctype="multipart/form-data" >
    用户名：<input type="text" name="username">
    头像：<input type="file" name="portrait">
    <input type="submit" value="上传">
  </form>
</body>

</html>