<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap.css">
  <style>
    .red {
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <!-- 顶部搜索框模块 -->
      <div class="form-group">
        <div class="input-group">
          <h4>品牌管理</h4>
        </div>
      </div>

      <!-- 数据表格 -->
      <table class="table table-bordered table-hover mt-2">
        <thead>
          <tr>
            <th>编号</th>
            <th>资产名称</th>
            <th>价格</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody v-if="list.length" >
          <tr v-for="(item,index) in list" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>

            <!-- 如果价格超过100，就有red这个类 -->
            <td :class="{ red: item.price > 100 }">{{ item.price }}</td>
            <td>{{ new Date(item.time).toLocaleDateString() }}</td>
            <td><a @click.prevent="del(item.id)" href="#">删除</a></td>
          </tr>
          <tr style="background-color: #EEE">
            <td>统计:</td>
            <td colspan="2">总价钱为: {{ totalPrice }}</td>
            <td colspan="2">平均价: {{ averagePrice }}</td>
          </tr>
        </tbody>
        <tfoot v-else>
          <tr>
            <td colspan="5" style="text-align: center">暂无数据</td>
          </tr>
        </tfoot>
      </table>

      <!-- 添加资产 -->
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input v-model.trim="name" type="text" class="form-control" placeholder="资产名称" />
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <div class="input-group">
            <input v-model.number="price" type="text" class="form-control" placeholder="价格" />
          </div>
        </div>
        <br>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- 阻止表单提交 -->
        <button @click.prevent="add" class="btn btn-primary">添加资产</button>
      </form>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script>
    const defaultList = [
          { id: 100, name: "外套", price: 199, time: new Date('2010-08-12') },
          { id: 101, name: "裤子", price: 34, time: new Date('2013-09-01') },
          { id: 102, name: "鞋", price: 25.4, time: new Date('2018-11-22') },
          { id: 103, name: "头发", price: 19900, time: new Date('2020-12-12') }
        ]
    const app = new Vue({
      el: '#app',
      data: {
        name: "", // 名称
        price: "", // 价格
        list: JSON.parse(localStorage.getItem("list")) || defaultList,
      },
      methods: {
        add() {
          this.list = [
            {
              id: (Math.random()*100).toFixed(0),
              name: this.name,
              price: this.price,
              time: new Date()
            },
            ...this.list
          ]
          this.name = ""
          this.price = ""
        },
        del(id) {
          this.list = this.list.filter(item => item.id !== id)
        }
      },
      computed: {
        totalPrice() {
          return this.list.reduce((total, item) => total + item.price, 0)
        },
        averagePrice() {
          if (!this.list.length) return 0
          return (this.totalPrice / this.list.length).toFixed(2)
        }
      
      },
      watch: {
        list: {
          deep: true,
          handler() {
            localStorage.setItem("list", JSON.stringify(this.list))
          }
        }
      }
      
    })
  </script>


</body>

</html>